html {
	font-weight: 16px;
	background-color: lightgrey;
}


/* header section */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	width: 100%;
	background-color: white;
}

.header .logo {
	padding: 0 1.5rem;
	display: flex;
	align-items: center;
}

.header .logo .bold {
	font-weight: bold;
}

.header .logo .light {
	opacity: 0.5;
}

.header nav ul {
	display: flex;
	list-style: none;
	padding: 0 1.5rem;
}

.header nav li {
	padding-left: 1rem; 
}

.header nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.header-mobile {
	display: none;
	justify-content: center;
	align-items: center;
	height: 4rem;
	padding: 0 1.5rem;
	background-color: white;
}

.header-mobile .icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

@media only screen and (max-width: 480px) {
	.header {
		display: none;
	}

	.header-mobile {
		display: flex;
	}

}


/* banner section */

.banner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.banner img {
	overflow: hidden;
	width: 60%;
	padding: 2rem 1.5rem;
}

.banner .text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 1rem;
}

.banner .text-container h1 {

}

.banner .text-container h2 {

}

.banner .text-container p {
	background-color: black;
	color: white;
	width: 100%;
	padding: 0.5rem 0;
	text-align: center;
}


/* info section */

.information {
	display: flex;
	background-color: white;
}

.information .main {
	display: flex;
	flex-direction: column;	
	width: calc(100% - 424px);
	padding: 2rem 1.5rem;
}

.information .main img {
	height: auto;
	max-width: 100%;
	padding-bottom: 2rem;
}

.information .main h1,
.information .main h3,
.information .main p {
	margin: 0 auto 1.5rem 0;
}

.information .highlights {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 423px;
	padding-top: 1rem;
	border: 1px solid lightgrey;
	border-top: none;
	border-bottom: none;
}

.information .highlights .item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid lightgrey;
	border-left: none;
	border-right: none;
}

.information .highlights .item img {
	padding: 1rem;
	width: 35%;
}
.information .highlights .details h2, 
.information .highlights .details h4 {
  padding-bottom: 0.5rem;
}

#guest-lecture {
	background-color: lightgrey;
}


/* course section */

.courses {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	padding-bottom: 0;
}

.courses h1 {
	margin: 0;
}

.course-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 1rem;
}

.course-container .course {
	width: 30%;
	margin: 1rem;
	background-color: white;
}

.course-container .course .image {
	width: 100%;
}

.course-container .course .image img {
	width: inherit;
}

.course-container .course .description {
	padding: 1rem 1rem 1.5rem 1rem;
	background-color: white;
}

.course-container .course .description h2, 
.course-container .course .description p {

}


/* thesis section */

.thesis {
	background-color: white;
	border-bottom: 1px solid lightgrey;
	padding-top: 2rem;
}

.thesis h1 {
	text-align: center;
	margin: 0;
}

.thesis .video-wrapper {
	display: flex;
	padding: 2rem 0;
}

.thesis .video-container {
	width: calc(100% - 423px);
	padding: 0 1rem 0 1.5rem;
}

.thesis .video-container video {
	width: 100%;
	padding-bottom: 1.5rem; 
}

.thesis .video-container h1 {
	text-align: left;
}

.sidebar {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.sidebar .element {
	display: flex;
	height: 10.5rem;
}

.sidebar .element img {
	padding: 1rem;
	width: 35%;
}

.sidebar .element .description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-right: 1rem;
}

.sidebar .element .description h2 {
	font-weight: bold;
}

#fisma {
	background-color: lightgrey;
}


/* footer section */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: darkgrey;
	opacity: 0.7;
}

.footer .copyright {
	margin: 0 1.5rem;
}

.footer .links {
	display: flex;
	justify-content: space-between;
}

.footer .links a {
	text-decoration: none;
	margin-right: 1rem; 
	color: grey;
}